spring:
  datasource:
    url: jdbc:postgresql://checklist-db.c16uacqs2i3u.us-west-1.rds.amazonaws.com:5432/postgres
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: when_authorized

logging:
  file:
    name: /var/log/checklist/application.log
  level:
    root: INFO
